<ul class="nav nav-tabs" role="tablist">
	<li class="{{if isChannelTabActive 'active'}}">{{#link-to "brand.edit.reviewflow.channels" class="text-uppercase text-center"}}Channels{{/link-to}}</li>
	<li class="{{if isDepartTabActive 'active'}}">{{#link-to "brand.edit.reviewflow.departments" class="text-uppercase text-center"}}Departments{{/link-to}}</li>
</ul>
