<div class="tab-content">
  <div class="tab-pane active">
    <div class="col-md-6 col-md-offset-3 col-sm-12 addaccount-page">
       {{brand-social-integration model=model transitionTo=(route-action 'transitionTo')}}
    </div>
  </div>
</div>
