<h4 class="text-center">Assignment Backlog</h4>
<div class="row date-filters">
  <div class="col-md-12 form-group">
    <div class="text-right row">
      <div class="col-md-6">
        <label class="control-label">From:</label>
        {{bootstrap-datepicker placeholder="Select a Date" value=fromDate changeDate="setFromDate" autoclose=true class="form-control datepick"}}
      </div>
      <div class="col-md-6">
        <label class="control-label">To:</label>
        {{bootstrap-datepicker placeholder="Select a Date" value=endDate changeDate="setEndDate" autoclose=true class="form-control datepick"}}
      </div>
    </div>
  </div>
</div>
{{#eb-table
      pageSize=5
      content=assignmentBacklog
      emptyMessage="There is no pending assignments to show!"
      columns=columns}}
{{/eb-table}}
