@media(max-width:768px){
    .fr-popup .fr-layer {
        width: 100px;
    }
    .fr-image-upload-layer{
        padding: 0;
    }
    .fr-toolbar .fr-command.fr-btn{
        margin: 0;
    }
}
@media(min-width:992px){
    [data-cmd="showTool"] {
        display: none;
    }
    [data-cmd="hideTool"] {
        display: none;
    }
    .fr-box.fr-basic .fr-element{
        min-height: 250px;
    }
}
@media(max-width:768px){
    .fr-popup .fr-layer {
        width: 100px;
    }
    .fr-image-upload-layer{
        padding: 0;
    }
    .fr-toolbar .fr-command.fr-btn{
        margin: 0;
    }
}
@media(min-width:992px){
    [data-cmd="showTool"] {
        display: none;
    }
    [data-cmd="hideTool"] {
        display: none;
    }
    .fr-box.fr-basic .fr-element{
        min-height: 250px;
    }
}
[data-cmd="imageManager"] {
    display: none !important;
}
