# See https://help.github.com/ignore-files/ for more about ignoring files.

.DS_Store
.agignore

# compiled output
/dist
/tmp

# dependencies
/node_modules
/bower_components
/lib/contetto-dashboard-charts/node_modules
/lib/contetto-dashboard-charts/bower_components

# misc
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log*
testem.log
.idea/
