<div class="header loginscreens">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-md-offset-4 text-center">
        {{#link-to "index" class="logo"}}
          <img src="/assets/images/login-logo.png" alt="">
        {{/link-to}}
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-6 col-sm-8 col-sm-offset-2 col-md-offset-3">
      <div class="loginbox">
        {{yield}}
      </div>
    </div>
  </div>
</div>

<div class="accopy text-center w-100 m-t-2">v{{app-version}} - Contetto by SoftCorp Software Ltd. <A href="https://contetto.com/privacy" target=_blank>Privacy</a> | <A href="https://contetto.com/copyright" target=_blank>Copyright Policy</a> | <A href="https://contetto.com/terms-and-conditions" target=_blank>Terms & Conditions of Use</a></div>
<BR/>

<div style="max-width:310px; margin-left:auto; margin-right:auto">
<div style="display:none">
<div class="appbutton" style="width:150px; height:50px; float:left">
<a style="display: inline-block; overflow: hidden; background: url('//linkmaker.itunes.apple.com/assets/shared/badges/en-us/appstore-lrg.svg') no-repeat; width: 135px; height: 40px; background-size: contain;" href="https://itunes.apple.com/us/app/contetto/id1238190760?mt=8"> </a>
</div>
<div class="appbutton" style="width:150px; height:50px; float:left">
<a href="https://play.google.com/store/apps/details?id=com.contetto.app&amp;pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1"><img class="alignleft" style="height: 60px; margin-top: -10px; margin-left: -10px;" src="https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png" alt="Get it on Google Play" /></a>
</div>
</div>
</div>
