{{#if editableSubscriptionAddons.countChanged}}
  <h4>You have changed the count of the addons. Are you sure that you want to update these changes?</h4>
  <button class="btn btn-info" {{action 'confirmAddonModify'}}>Update</button>
  <button class="btn btn-danger" {{action 'cancelChanges'}}>Clear</button>
{{/if}}
