<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#new-card-modal">Create New Card</button>
<hr>
<!-- Modal -->
<div class="modal fade" id="new-card-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="exampleModalLabel">Create New Card</h2>
        <button type="button" id="card-form-modal-close" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {{card-form saveCallback='saveCallback' cancelCallback='cancelCallback' cardChangeset=cardChangeset locations=locations}}
      </div>
    </div>
  </div>
</div>
