<div class="brand_tabs_wrapper">
  <div class="brand_tabs">
    <ul>
      {{#each brands as |brand|}}
        {{#unless brand.isNew}}
          <li>
            {{#link-to "brand.edit" brand.company.id brand.id}}
              {{#if brand.logo}}
                <img src= {{brand.logo}} class="img-circle" width="25" height="25" alt="logo" />
              {{else}}
                <i class="fa fa-font-awesome" aria-hidden="true"></i>
              {{/if}}
              {{brand.name}}
            {{/link-to}}
          </li>
        {{/unless}}
      {{/each}}
    </ul>
  </div>
</div>
