{{#user-compo/tabs openTab="Notifications"}}
<div class="right-panel">
  <!-- Tab panes -->
  <div class="tab-content wraper-contens">
    <div class="tab-pane active">
    <div class="wide-form-container">

   {{notification-settings model=model transitionTo=(route-action "transitionTo")}}

</div>
    </div>
    <!-- </div class="tab-content"> -->
  </div>
  <!-- </div class="right-panel"> -->
</div>
{{/user-compo/tabs}}