<table class="table table-hover">
  <thead>
    <tr>
      <th>Card Number</th>
      <th>Exp Date</th>
      <th>First Name</th>
      <th>Last Name</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td>{{subscription.card.cardNumber}}</td>
      <td>{{subscription.card.expDate}}</td>
      <td>{{subscription.card.firstName}}</td>
      <td>{{subscription.card.lastName}}</td>
    </tr>
  </tbody>
</table>
