<button class="btn btn-default btn-xs cogbtn" data-toggable="true"><i class="fa fa-cog" aria-hidden="true" data-toggable="true"></i></button>
{{#if displayIt}} <span class="cogcontent">{{yield}}</span>{{/if}}
