<div role="tabpanel" class="tab-pane active review-channel-page">
	<h3>Review Channels</h3>
	<p>Review Channels are used in Contetto to help ensure content is checked before it gets published.</p>
	<p>A review channel consists of steps. Each step designates a department that must review and approve the post.</p>
	<p>A review channel can be activated by selecting it in a social account's setting page (Brand Settings &gt; Social Accounts &gt; Settings). Posts of the selected Type (Sales, General or Both) will have Assignments automatically created for each Step as previous steps (or manually created assignments) are completed.</p>
	<p>You can control what happens to a post if the review process is not complete by the scheduled time by configuring the Fallback Mode on the social account.</p>
	<div class="table-responsive">
		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<th>Name</th>
          {{#if (has-brand-permission 'manageReviewStructure')}}
					<th>Manage</th>
          {{/if}}
				</tr>
			</thead>
			<tbody>
			
				{{#each model.brand.reviewChannels as |channel|}}
					<tr>
						<td>{{channel.name}}</td>
            {{#if (has-brand-permission 'manageReviewStructure')}}
						<td>{{#link-to 'brand.edit.reviewflow.channels.edit' model.brand.id channel.id}}Edit{{/link-to}} | <a class='text-danger' {{action 'deleteChannel' channel.id}}>Remove</a></td>
            {{/if}}
					</tr>
				{{/each}}
			
			</tbody>
		</table>
	</div>
  {{#if (has-brand-permission 'manageReviewStructure')}}
  {{link-to "Add" "brand.edit.reviewflow.channels.add" class="btn btn-success text-uppercase m-t-1"}}
  {{/if}}
</div>
