<div class="modalContainer">
	<div class="modalWindow">
		<h1>Create a Post</h1>
	    {{post-editor changeSet=(changeset model.post model.PostingValidations) brandId=model.brandId nextRecommended=model.nextRecommended}}
	 </div>
</div>