<td>{{category.title}}</td>
<td>{{unless category.parent.id 'Parent Category' category.parent.title}}</td>
<td>
  {{#link-to "brand.edit.category.edit" category.id class="btn btn-link p-a-0 product-edit" disabled=deleting}}

    Edit

  {{/link-to}} |
  <button class="btn btn-link p-a-0 product-delete" href="#" disabled= {{deleting}} {{action "delete" category}}>

    Remove
  </button>
</td>
