<div class="modalContainer">
	<div class="modalWindow">
		<h1>Create a Review Channel</h1> {{brand-compo/channel/form changeset=model.changeset model=model transitionTo=(route-action 'transitionTo') addMember=(route-action 'addMember') removeMember=(route-action 'removeMember') addStep=(route-action 'addStep') removeStep=(route-action 'removeStep')}}
	</div>
</div>
