<div class="modalContainer">
	<div class="modalWindow">
		<h1>Edit Post</h1>
	    {{post-editor/loader changeSet=(changeset model.post model.PostingValidations) brandId=model.brandId}}
	 </div>
</div>
