<button class="btn btn-primary hidden" id="department-modal-open" data-toggle="modal" data-target="#department-modal"></button>
<div class="modal fade" id="department-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Department</h5>
        <button type="button" class="close" id="department-modal-close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {{brand-compo/department/form model=department changeset=department.changeset onSave=(action 'onSave') addMember=(action 'addMember') removeMember=(action 'removeMember')}}
      </div>
    </div>
  </div>
</div>
