<div class="footer-line">
  <div class="container-fluid">
    <div class=row"">
      <div class="col-md-4 col-sm-4"><p>2017 © Contetto by SoftCorp Software Ltd<br/> <A href="https://contetto.com/privacy" target=_blank>Privacy</a> | <A href="https://contetto.com/copyright" target=_blank>Copyright Policy</a> | <A href="https://contetto.com/terms-and-conditions" target=_blank>Terms & Conditions of Use</a></p></div>
      <div class="col-md-8 col-sm-8 text-right">
        {{!--<ul>
          <li>Online <a href="#"><i class="fa fa-comments"></i><span>07</span></a></li>
          <li>Chat option <a href="#"><i class="fa fa fa-user-plus"></i></a></li>
        </ul> --}}
        <div>v{{app-version}}</div>
      </div>
    </div>
  </div>
</div>
